
/ClipHub/ClipHub/bin/Debug/ClipHub.exe
/ClipHub/ClipHub/bin/Debug/ClipHub.pdb
/ClipHub/ClipHub/bin/Debug/Db4objects.Db4o.Linq.xml
/ClipHub/ClipHub/bin/Debug/Db4objects.Db4o.xml
/ClipHub/ClipHub/bin/Debug/Hardcodet.Wpf.TaskbarNotification.dll
/ClipHub/ClipHub/bin/Debug/Hardcodet.Wpf.TaskbarNotification.pdb
/ClipHub/ClipHub/bin/Debug/Hardcodet.Wpf.TaskbarNotification.xml
/ClipHub/ClipHub/bin/Debug/InputSimulator.dll
/ClipHub/ClipHub/bin/Debug/InputSimulator.pdb
/ClipHub/ClipHub/bin/Debug/InputSimulator.xml
/ClipHub/ClipHub/bin/Debug/MahApps.Metro.dll
/ClipHub/ClipHub/bin/Debug/System.Windows.Interactivity.dll
/ClipHub/ClipHub/obj/x86/Debug/App.baml
/ClipHub/ClipHub/obj/x86/Debug/App.g.cs
/ClipHub/ClipHub/obj/x86/Debug/Assets/Formatter.baml
/ClipHub/ClipHub/obj/x86/Debug/Assets/TrayIcon.baml
/ClipHub/ClipHub/obj/x86/Debug/ClipHub.Properties.Resources.resources
/ClipHub/ClipHub/obj/x86/Debug/ClipHub.csproj.GenerateResource.Cache
/ClipHub/ClipHub/obj/x86/Debug/ClipHub.exe
/ClipHub/ClipHub/obj/x86/Debug/ClipHub.g.resources
/ClipHub/ClipHub/obj/x86/Debug/ClipHub.pdb
/ClipHub/ClipHub/obj/x86/Debug/ClipHub_Content.g.cs
/ClipHub/ClipHub/obj/x86/Debug/ClipHub_MarkupCompile.cache
/ClipHub/ClipHub/obj/x86/Debug/ClipHub_MarkupCompile.lref
/ClipHub/ClipHub/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
/ClipHub/ClipHub/obj/x86/Debug/MainWindow.baml
/ClipHub/ClipHub/obj/x86/Debug/MainWindow.g.cs
/ClipHub/ClipHub/obj/x86/Debug/Resources/FontsAndColors.baml
/ClipHub/ClipHub/obj/x86/Debug/Resources/Icons.baml
/ClipHub/ClipHub/obj/x86/Debug/SelectMenu.baml
/ClipHub/ClipHub/obj/x86/Debug/SelectMenu.g.cs
/ClipHub/ClipHub/obj/x86/Debug/Settings.baml
/ClipHub/ClipHub/obj/x86/Debug/Settings.g.cs
/ClipHub/ClipHub/bin/Debug/ClipHub.exe.config
/ClipHub/ClipHub/bin/Debug/ClipHub.vshost.exe.config
/ClipHub/ClipHub/bin/Debug/ClipHub.vshost.exe.manifest
/ClipHub/ClipHub/bin/Debug/ServiceStack.Common.dll
/ClipHub/ClipHub/bin/Debug/ServiceStack.Common.pdb
/ClipHub/ClipHub/bin/Debug/ServiceStack.Common.xml
/ClipHub/ClipHub/bin/Debug/ServiceStack.Interfaces.dll
/ClipHub/ClipHub/bin/Debug/ServiceStack.Interfaces.pdb
/ClipHub/ClipHub/bin/Debug/ServiceStack.Interfaces.xml
/ClipHub/ClipHub/bin/Debug/ServiceStack.Text.dll
/ClipHub/ClipHub/bin/Debug/ServiceStack.Text.xml
/ClipHub/ClipHub/obj/x86/Debug/ClipHub.csprojResolveAssemblyReference.cache
/ClipHub/ClipHub/obj/x86/Debug/ClipHub_MarkupCompile.i.lref
/ClipHub/ClipHub/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/ClipHub/ClipHub/obj/x86/Debug/TempPE/Service References.ClipHubRemote.Reference.cs.dll
/ClipHub/ClipHub/obj